<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
<html>
    <head>
        <title>Tanya's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: February 2018</p>
            <h2><a href="">My first post</a></h2>
            <p>Here it is. Blog Post 1.</p>
        </div>

        <div>
            <p>published: While my brain is on fire</p>
            <h2><a href="">My second post</a></h2>
            <p>Blog Post 2.</p>
        </div>
    </body>
</html>